body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0%;
}
h1{
    text-align: center;
    color: #333;
    font-size: 1rem;
    font-family:  sans-serif;
    margin-top: 0%;
}

.box{
    background-color: #3498db;
    border: #333 solid 2px;
    margin: 10px;

    height: 60px;
    width: 60px;
    border-radius: 5px;
}
.container{
        border: 5px solid;

        display: flex;
        justify-content: center;

        border-radius: 10px;
        flex-direction: row;

        flex-wrap: wrap;

}